<p>id: {{ hero.id }}</p>
<p>name: {{ hero.name | uppercase }}</p>

<div>
  <label>name:</label>
  <input type="text" [(ngModel)]="hero.name" />
</div>

<hr />

<h2>My Heroes</h2>

<div>
  <label>
    Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">
    add
  </button>
</div>

<ul>
  <li *ngFor="let hero of heroes">
    <a routerLink="/heroes/{{ hero.id }}"> {{ hero.id }} {{ hero.name }} </a>
    <button title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
